@import "tailwindcss";

@theme {
    --color-primary: #D5E5D5;
    --color-secondary: #EEF1DA;
    --color-background: #C7D9DD;
    --color-accent: #ADB2D4;
    --color-primary-50: #D5E5D580; 
    --color-secondary-50: #EEF1DA80; 
    --color-background-50: #C7D9DD80;
    --color-accent-50: #ADB2D480;
    --color-success: #5E946A; 
    --color-fail: #C56A64;
    --color-warning: #D99A4E;

    /*#eaf2ea*/
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.basic-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .basic-scrollbar::-webkit-scrollbar-track {
    background: inherit;
    border-radius: 10px;
  }
  
  .basic-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  .indent-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .indent-scrollbar::-webkit-scrollbar-track {
    background: inherit;
    border-radius: 10px;
  }
  
  .indent-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

.loader {    
    width: 360px;
    height: 24px;
    border-radius: 20px;
    color: #514b82;
    border: 2px solid;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
  }
  .loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: l6 2s infinite;
  }

  .set-tile-loader {    
    width: 240px;
    height: 18px;
    border-radius: 20px;
    color: #C7D9DD ;
    border: 2px solid;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .set-tile-loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: l6 2s infinite;
  }

  
  .upload-loader {    
    width: 240px;
    height: 18px;
    border-radius: 20px;
    color: var(--color-accent);
    border: 2px solid;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .upload-loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: l6 2s infinite;
  }

  @keyframes l6 {
      100% {inset:0}
  }




/*
https://colorhunt.co/palette/adb2d4c7d9ddd5e5d5eef1da
*/